.advantage{
    display: flex;
    flex-direction: column;

    
    margin-top: 350px;
    width: calc(100% - 140px);
    max-width: 1640px;
    height: 822px;

}
.advantage__grid {
    display: grid;
    grid-template-columns: 2fr 2.5fr 1.2fr;
    grid-template-rows: repeat(3, 195px);
    gap: 20px;

    background-image: url(../bgImage/advantageRight.svg), url(../bgImage/advantageLeft.svg);
    background-repeat: no-repeat;
    background-position: right 3px, left 215px;
}
.advantage__item {
    display: flex;
    flex-direction: row;

    font-family: 'Source Code Pro', monospace;
    font-size: 24px;
    line-height: 24px;
    color: #DCDCDC;
}
.advantage__label {
    font-weight: 500;
}
.advantage__text {
    font-weight: 300;
}
.advantage__adaptive {
    grid-row-start: 1;
    grid-row-end: 1;

    grid-column-start: 1;
    grid-column-end: 4;
}
.advantage__admin{
    display: flex;

    grid-row-start: 2;
    grid-row-end: 2;

    grid-column-start: 2;
    grid-column-end: 4;
}
.advantage__seo{
    display: flex;
    justify-content: right;

    grid-row-start: 3;
    grid-row-end: 3;

    grid-column-start: 1;
    grid-column-end: 4;
} 


.advantage__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;

    width: 1153px;
    height: 96px;

    border-radius: 100px;
    border: 1px solid #98EC65;
}
.advantage__desc{
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    color: #fff;
    font-size: 24px;
    line-height: 30.94px;
    
    margin-right: 58px;

    width: 706px;
    height: 31px;
}
.advantage__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    width: 322px;
    height: 95px;
    
    position: relative;
    
    border-radius: 100px;
    
    background-color: #98EC65;
    
    transition: 0.5s transform;
    
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    line-height: 30.94px;
    font-size: 24px;
    color: #000;
}
.advantage__button:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 1750px) {
    .advantage__grid{
        background-position: 960px 3px, -125px 215px;
    }
}
@media screen and (max-width: 1614px) {
    .advantage__grid{
        background-position: 960px 3px, -255px 215px;
    }
}

@media screen and (max-width: 1155px) {
    .advantage__grid{
        display: flex;
        flex-direction: column;
        gap: 101px;

        background-image: url(../bgImage/advantageWidth1000TopRight.svg), url(../bgImage/advantageLeftCenter1000Width.svg), url(../bgImage/advantageRightBottom1000Width.svg);
        background-position: right 5px, left 132px, right 260px;
    }
    .advantage{
        width: 1000px;
        height: 480px;
    }
    .advantage__item{
        font-size: 18px;
    }
    .advantage__adaptive{
        justify-content: left;
        margin-left: 24px;
    }
    .advantage__admin{
        justify-content: right;
        margin-right: 24px;
    }
    .advantage__seo{
        justify-content: left;
        max-width: 567px;

        margin-left: 24px;
    }
    .advantage__list{
        margin-top: 100px;

        width: 100%;
        max-width: 864px;
        height: 71px;

    }
    .advantage__desc{
        font-size: 18px;
    }
    .advantage__button{
        width: 250px;
        height: 71px;

        font-size: 18px;
    }
}

@media screen and (max-width: 970px){
    .advantage{
        width: 100%;
    }
    .advantage__grid{
        background-position: 730px 5px, -50px 132px, 630px 260px;
    }
}
@media screen and (max-width: 936px){
    .advantage__grid{
        background-position: 730px 5px, -150px 132px, 630px 260px;
    }
}
@media screen  and (max-width: 832px){
    .advantage__grid{
        background-position: 730px 5px, -250px 132px, 630px 260px;
    }
}
@media screen and (max-width: 748px) {
    .advantage{
        height: 700px;
    }
    .advantage__desc{
        text-align: center;

        height: 100%;
        flex-direction: unset;
    }
    .advantage__button{
        height: 100%;
    }
}
@media screen  and (max-width: 730px){
    .advantage__grid{
        background-position: 730px 5px, -350px 132px, 630px 260px;
    }
}
@media screen  and (max-width: 716px){
    .advantage__grid{
        background-position: 730px 5px, -350px 155px, 630px 280px;
    }
}
@media screen  and (max-width: 641px){
    .advantage__grid{
        background-image: none;
    }
    .advantage__grid{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .advantage__item{
        justify-content: unset;
        text-align: center;
        justify-content: center;

        margin: 0px;
        
        width: 100%;
        max-width: none;
    }
}

@media screen and (max-width: 611px) {
    .advantage__list{
        display: flex;
        flex-direction: column;

        height: 140px;

        gap: 20px;
    }
    .advantage__button{
        order: 1;
    }
    .advantage__desc{
        width: calc(100% - 50px);

        justify-content: center;

        margin: 0px;
        margin-top: 16px;

        order: 0;
    }
}

@media screen and (max-width: 437px){
    .advantage__list{
        height: 160px;
        border-radius: 50px 50px 30px 30px;
    }
    .advantage__button{
        width: 100%;
        height: 170px;
        border-radius: 60px;
    }
}

@media screen and (max-width: 360px){
    .advantage__item{
        text-align: left;
        
        max-width: 328px;
        width: calc(100% - 12px);
    }
}
@media screen and (max-width: 333px){
    .advantage{
        height: 720px;
    }
    .advantage__list{
        height: 200px;
    }
    .advantage__button{
        border-radius: 25px;
    }
}

@media screen and (max-width: 330px){
    .advantage__item{
        text-align: left;
        max-width: 285px;
    }
}