.evolution {
    margin-top: 400px;
    margin-bottom: 197px;

    display: flex;
    justify-content: center;
}
.evolution__title {
    font-family: 'PT Mono', monospace;
    font-size: 72px;
    line-height: 108.29px;
    font-weight: 400;
    color: #fff;
    
    width: 1000px;

    text-align: center;
}
.evolution__title::after{
    content: '';
    display: inline-block;

    width: 9px;
    height: 9px;
    
    background-color: #98EC65;
    
    margin-left: 15px;
}

@media screen and (max-width: 1755px) {
    .evolution{
        margin-top: 165px;
        margin-bottom: 165px;
    }
    .evolution__title{
        width: 682px;
        height: 144px;

        font-size: 48px;
        line-height: 72.19px;
    }
    .evolution__title::after{
        width: 6px;
        height: 6px;
    }
}

@media screen and (max-width: 670px){
    .evolution__title{
        width: 100%;

        font-size: 36px;
        line-height: 36.1px;
    }
}

@media screen and (max-width: 520px){
    .evolution__title{
        width: 100%;

        font-size: 28px;
        line-height: 36.1px;
    }
    .evolution__title::after{
        width: 6px;
        height: 6px;
        border-radius: 50%;
    }
}

@media screen and (max-width: 400px){
    .evolution__title{
        width: 100%;

        font-size: 24px;
        line-height: 36.1px;
    }
}

@media screen and (max-width: 355px){
    .evolution__title{
        width: 100%;

        font-size: 22px;
        line-height: 33.09px;
    }
}