.footer{
    width: 100%;
    max-width: 1640px;

    background-image: url(../bgImage/feedbackLeftBottom.svg), url(../bgImage/feedbackLeftTop.svg), url(../bgImage/feedbackRightBottom.svg);
    background-repeat: no-repeat;
    background-position: 100px 900px, 100px 100px, 1510px 620px;
}
.footer__studio__services{
    width: 100%;
    max-width: 1640px;
    
    background-image: url(../bgImage/feedbackLeftBottom.svg), url(../bgImage/feedbackRightBottom.svg);
    background-repeat: no-repeat;
    background-position: 100px 620px, right 350px;
}
.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.feedback__title__main__portfolio {
    margin-top: 253px;

    font-family: 'Source Code Pro', monospace;
    font-size: 36px;
    line-height: 36px;
    font-weight: 300;
    color: #fff;

    text-align: center;
}
.feedback__title__main__portfolio::after{
    content: '';
    display: inline-block;
    width: 9px;
    height: 9px;
    background-color: #98EC65;
    margin-left: 14px;
}
.feedback__title{
    font-family: 'Source Code Pro', monospace;
    font-size: 36px;
    line-height: 36px;
    font-weight: 300;
    color: #fff;
}
.feedback__title::after{
    content: '';
    display: inline-block;

    width: 6px;
    height: 6px;

    background-color: #98EC65;

    margin-left: 20px;
}
.feedback__form {
    margin-top: 92.5px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    
    width: 100%;
    max-width: 1108px;

}
.feedback_input{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 29.26px;
    color: #838383;

    padding-left: 25px;
    padding-right: 10px;
    padding-bottom: 7px;
    
    background-color: transparent;
    
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    border-bottom-left-radius: 30px;
    
    margin: 20px 0px;
}
.feedback__button {
    border-radius: 6px;
    
    width: 250px;
    height: 60px;
    
    align-self: flex-end;
    
    background-color: #98EC65;
    
    font-family: 'Source Code Pro', monospace;
    font-size: 24px;
    font-weight: 400;
    line-height: 30.17px;

    transition: 0.5s;
}
.feedback__button:hover{
    transition: 0.5s;

    border-radius: 35px;
}
.feedback_list {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}
.feedback_item{
    margin-top: 190px;

    display: flex;
    justify-content: space-between;
    min-width: 320px;
}
.feedback__link{
    margin: 0px 36px;

    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: 700;
    color: #ECECEC;
}
.feedback__link:visited{
    color: #ECECEC;
}
.feedback__info{
    margin-top: 40px;
}
.feedback__number{
    font-family: 'Source Code Pro', monospace;
    margin-right: 40px;
    font-size: 18px;
    line-height: 23.2px;
    color: #fff;
}
.feedback__number{
    color: #fff;
}
.feedback__site{
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    line-height: 23.2px;
    color: #98EC65;
}
.feedback__footer {
    font-family: 'Arvo', serif;
    font-size: 18px;
    line-height: 23.2px;
    letter-spacing: 0.1em;
    color: #fff;

    margin-top: 90px;
    margin-bottom: 48px;
}
.feedback__footer::after{
    content: '';
    display: inline-block;

    width: 2px;
    height: 2px;

    border-radius: 50%;

    background-color: #98EC65;
}

.feedback__product {
    margin-top: 30px;
    
    display: flex;
    flex-direction: column;
}
.feedback__product__label {
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #fff;
}
.feedback__product__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

    margin-top: 21px;

    width: 100%;
    max-width: 750px;

}
.feedback__proudct__item {
    display: flex;
    align-items: center;

    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 21.94px;
    color: #fff;

    padding: 13px 34px;

    list-style-type: none;

    border: 1px solid #fff;
    border-radius: 50px;

    cursor: pointer;
}
.feedback__proudct__item:hover{
    border: 1px solid #98EC65;
    
    color: #98EC65;
}
.feedback__product__item__btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 1645px) {
    .footer{
        background-image: none;
    }
}
@media screen and (max-width: 1446px){
    .footer__studio__services{
        background-image: none;
    }
}
@media screen and (max-width: 1000px){
    .footer{
        width: 100%;
        max-width: 800px;
        background-image: none;
    }
    .feedback__title{
        font-size: 24px;
        line-height: 24px;
    }
    .feedback::after{
        width: 6px;
        height: 6px;
    }
    .feedback__title__main__portfolio{
        font-size: 24px;
        line-height: 24px;
    }
    .feedback__title__main__portfolio::after{
        width: 6px;
        height: 6px;
    }
    .feedback_input{
        font-size: 18px;
        line-height: 21.94px;
    }
    .feedback__form{
        width: 100%;
        max-width: 800px;
    }
    .feedback__product__item__btn{
        flex-direction: column;
    }
    .feedback__button{
        margin-top: 52px;

        align-self: center;

        font-size: 18px;
        line-height: 22.63px;
    }
}
@media screen and (max-width: 710px){
    .feedback__lending{
        order: 1;
    }
    .feedback__online_store{
        order: 2;
    }
    .feedback__corporate_site{
        order: 5;
    }
    .feedback__web{
        order: 4;
    }
    .feedback__other{
        order: 3;
    }
    .feedback__not_know{
        order: 6;
    }
}


@media screen and (max-width: 630px){
    .feedback__title{
        font-size: 22px;
        line-height: 22px;
        text-align: center;
    }
    .feedback__title::after{
        width: 6px;
        height: 6px;
        border-radius: 50%;
    }
    .feedback__title__main__portfolio{
        font-size: 22px;
        line-height: 22px;
        text-align: center;
    }
    .feedback__title__main__portfolio::after{
        width: 6px;
        height: 6px;
        border-radius: 50%;
    }
}
@media screen and (max-width: 613px){
    .feedback__link{
        margin: 0px 22px;
        font-size: 12px;
    }
}


@media screen and (max-width: 583px){
    .feedback__title{
        font-size: 18px;
        line-height: 18px;

        text-align: center;
    }
    .feedback__title__main__portfolio{
        font-size: 18px;
        line-height: 18px;

        text-align: center;
    }
}
@media screen and (max-width: 573px){
    .feedback__lending{
        order: 1;
    }
    .feedback__online_store{
        order: 2;
    }
    .feedback__corporate_site{
        order: 5;
    }
    .feedback__web{
        order: 3;
    }
    .feedback__other{
        order: 4;
    }
    .feedback__not_know{
        order: 6;
    }
}
@media screen and (max-width: 501px){
    .feedback__link{
        margin: 0px 4px;
    }
}
@media screen and (max-width: 430px) {
    .feedback__site{
        font-size: 12px;
    }
    .feedback__number{
        font-size: 12px;

        margin-right: 16px;
    }
}
@media screen and (max-width: 384px){
    .feedback__link:nth-child(1){
        margin-left: 0px;
    }
    .feedback__link:last-child{
        margin-right: 0px;
    }
}
@media screen and (max-width: 393px){
    .feedback__proudct__item{
        padding: 8px 16px;

        font-size: 14px;
    }
    .feedback_input{
        border-right: 1px solid #fff;
        border-bottom-right-radius: 30px;
    }
    .footer{
        width: calc(100% - 15px);
    }
    .footer__studio__services{
        width: calc(100% - 15px);
    }
}

