.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: calc(100vh - 200px);
    max-height: 1500px;
    
    background-repeat: no-repeat;

}
.header__bg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 1550px;
    height: 850px;

    background-image: url(../bgImage/piybeepLeftTop.svg), url(../bgImage/piybeepLeftBottom.svg), url(../bgImage/piybeepRightBittom.svg);
    background-repeat: no-repeat;
    background-position: left 60px, left bottom, right 550px;

    opacity: 0;

    animation-name: squareVisibility;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
}
.header__text{
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    line-height: 23.2px;
    color: #98EC65;
    font-weight: 400;

    opacity: 0;

    animation-name: squareVisibility;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.header__label{
    font-family: 'Arvo', serif;
    font-size: 144px;
    line-height: 144px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #DEDEDE;
    font-weight: 400;
    text-indent: -9px;

    opacity: 0;

    animation-name: squareVisibility;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}
.header__label::after{
    content: '';
    display: inline-block;

    height: 9px;
    width: 9px;
    
    background-color: #98EC65;

    opacity: 0;
    
    animation-name: squareVisibility;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-delay: 1s;
}

@keyframes squareVisibility{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}