.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 1640px;

    height: calc(100vh - 200px);
    max-height: 1500px;
    
    background-repeat: no-repeat;
}
.header__bg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 1550px;
    height: 850px;


    background-image: url(../bgImage/piybeepLeftTop.svg), url(../bgImage/piybeepLeftBottom.svg), url(../bgImage/piybeepRightBittom.svg);
    background-repeat: no-repeat;
    background-position: calc(0% + 50px) calc(0% + 60px), calc(0% + 50px) bottom, calc(100% - 50px) calc(0% + 550px);

    opacity: 0;

    animation-name: squareVisibility;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
}
.header__text{
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    line-height: 23.2px;
    color: #98EC65;
    font-weight: 400;

    opacity: 0;

    animation-name: squareVisibility;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-fill-mode: forwards;

}
.header__label{
    font-family: 'Arvo', serif;
    font-size: 144px;
    line-height: 144px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #DEDEDE;
    font-weight: 400;
    text-indent: -9px;

    opacity: 0;

    animation-name: squareVisibility;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}
.header__label::after{
    content: '';
    display: inline-block;

    height: 9px;
    width: 9px;
    
    background-color: #98EC65;

    opacity: 0;
    
    animation-name: squareVisibility;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-delay: 1s;
}

.header__burger{
    display: none;
    width: 40px;
    height: 20px;
}
.header__burger__color{
    transition: 0.5s;
}
.header__burger:hover .header__burger__color{
    stroke: #98EC65;
}
@keyframes squareVisibility{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}

@media screen and (max-width: 1000px) {
    .header{
        width: 100%;
        height: 37px;
        
        margin-bottom: 0.5px;
        margin-top: 44px;
    }
    .header__bg{
        background-image: none;
    }
    .header__text{
        display: none;
    }
    .header__label{
        font-size: 37px;
        line-height: 37px;
    }
    .header__label::after{
        width: 6px;
        height: 6px;
    }
}

@media screen  and (max-width: 493px){
    .menu_text{
        display: none;
    }
    .header{
        width: 100%;
    }
    .header__bg{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;

        align-items: flex-start;
    }
    .header__label{
        text-indent: unset;

        font-size: 26.78px;
        line-height: 26.78px;
    }
    .header__item{
        display: flex;
        justify-content: center;
        
        margin-left: -56px;
        width: 100%;
    }
    .header__burger{
        display:unset;

        margin-left: 16px;

        background-color: transparent;
    }
}