.itention {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 1640px;

    margin-top: 350px;
}
.itention__title{
    font-family: 'Source Code Pro', monospace;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 36px;
    line-height: 46.4px;
    letter-spacing: 0.2em;
    color: #DCDCDC;

    width: 100%;

    position: relative;

    margin-bottom: 96px;
}
.itention__title::after{
    content: '';
    display: inline-block;
    width: 9px;
    height: 9px;
    background-color: #98EC65;
    margin-left: 24px;
}
.itention__title::before{
    content: '';
    display: inline-block;
    width: 69px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: -15px;
}
.itention__container{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(4, 111px);
    gap: 56px;

    width: 100%;
    max-width: 1640px;


    background-image: url(../bgImage/itentionBgLeftBottom.svg);
    background-repeat: no-repeat;
    background-position: 50px 450px;
}

.itention__label {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-family: 'PT Mono', monospace;
    font-size: 72px;
    line-height: 92.81px;
    font-weight: 400;
    color: #DCDCDC;

    transition: 0.5s;

    cursor: pointer;

    margin-right: 74px;
}
.itention__item:hover .itention__label{
    color: #98EC65;
}
.itention__item{
    display: flex;
    align-items: center;
}
.itention__arrow{
    margin-left: 74px;
    transition: 0.5s;
}
.itention__item:hover .itention__arrow{
    fill: #98EC65;
}
.itention__arrow__width__768{
    display: none;
}


.itention__label:hover::after{
    transition: 0.5s;
}
.itention__img {
    margin-left: 74px;
}
.itention__text {
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    color: #797979;
}
.itention__lending {
    grid-column-start: 1;
    grid-column-end: 11;

    grid-row-start: 1;
    grid-row-end: 1; 
}
.itention__web{
    grid-column-start: 2;
    grid-column-end: 11;

    grid-row-start: 2;
    grid-row-end: 2; 
}
.itention__online_store{
    grid-column-start: 3;
    grid-column-end: 11;

    grid-row-start: 3;
    grid-row-end: 3; 
}
.itention__corporate_site{
    grid-column-start: 4;
    grid-column-end: 11;
    
    grid-row-start: 4;
    grid-row-end: 4; 
}



@media screen and (max-width: 1635px) {
    .itention__container{
        display: flex;
        flex-direction: column;
        align-items: center;

        background-image: none;
    }
}

@media screen and (max-width: 1150px){
    .itention{
        width: 100%;
        max-width: 790px;
        height: 100%;
        /* max-height: 562px; */

        margin-top: 0px;
        margin-left: 105px;
        margin-right: 105px;
    }
    .itention__container{
        align-items: flex-start;
    }
    .itention__arrow__width{
        width: 160px;
    }
    .itention__title{
        font-size: 24px;
        line-height: 30.94px;
    }
    .itention__title::after{
        content: '';
        display: inline-block;
        width: 6px;
        height: 6px;
        background-color: #98EC65;
        margin-left: 24px;
    }
    .itention__title::before{
        content: '';
        display: inline-block;
        width: 69px;
        height: 1px;
        background-color: #fff;
        position: absolute;
        bottom: -15px;
    }
    .itention__container{
        background-image: none;
    }
    .itention__label{
        font-size: 48px;
        line-height: 61.87px;
    }
    .itention__text{
        font-size: 16px;
        line-height: 16px;
    }
    .itention__lending {
        grid-column-start: 1;
        grid-column-end: 11;
    
        grid-row-start: 1;
        grid-row-end: 1; 
    }
    .itention__web{
        grid-column-start: 1;
        grid-column-end: 11;
    
        grid-row-start: 2;
        grid-row-end: 2; 
    }
    .itention__online_store{
        grid-column-start: 1;
        grid-column-end: 11;
    
        grid-row-start: 3;
        grid-row-end: 3; 
    }
    .itention__corporate_site{
        grid-column-start: 1;
        grid-column-end: 11;
        
        grid-row-start: 4;
        grid-row-end: 4; 
    }
}

@media screen and (max-width: 790px) {
    .itention{
        width: calc(100% - 25px);
    }
    .itention__arrow__width{
        display: none;
    }
    .itention__arrow__width__768{
        display: inline-block;
        margin-top: 23px;
        transition: 0.5s;
    }
    .itention__type:hover .itention__arrow{
        fill: #98EC65;
    }
}

@media screen and (max-width: 651px){
    .itention__label{
        font-size: 36px;
        line-height: 30.94px;
    }
    .itention__text{
        font-size: 16px;
        line-height: 16px;
    }
    .itention__arrow__width__768{
        width: 100%;
    }
}

@media screen and (max-width: 491px){
    .itention__label{
        font-size: 24px;
        line-height: 30.94px;
    }
    .itention__text{
        font-size: 14px;
        line-height: 16px;
    }
}