.menu {
    /* position: sticky; */
    /* top: 0px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 123px;

    margin-top: 65px;
}
.menu__info {
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    line-height: 23.2px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: 500;
}
.menu_text{
    color: #ECECEC;

    padding-bottom: 3px;
    
    margin: 0px 100px;
    
    border-bottom: 2px solid transparent;
    
    transition: 0.5s;
}
.menu_text_border
{
    border-bottom: 2px solid #98EC65;
}
.menu_text:hover{
    transition: 0.5s;
    
    border-bottom: 2px solid #98EC65;
}
.menu_text:visited{
    color: #ECECEC;
}