.menu_content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 123px;
    margin-top: 100px;
}
.menu_info li{
    display: inline-block;
    font-size: 18px;
    line-height: 23.2px;
    letter-spacing: 0.2em;
    margin: 0px 115px;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    color: #ECECEC;
}
.menu_info li:first-child{
    display: inline;
    padding-bottom: 4px;
    border-bottom: 1px solid #98EC65;
}