.menu {
    /* position: sticky; */
    /* top: 0px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 123px;

    margin-top: 65px;
}
.menu__info {
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    line-height: 23.2px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: 500;
}
.menu__link{
    color: #ECECEC;

    padding-bottom: 3px;
    
    margin: 0px 100px;
    
    border-bottom: 2px solid transparent;
    
    transition: 0.5s;
}
.menu__link__border
{
    border-bottom: 2px solid #98EC65;
}
.menu__link:hover{
    transition: 0.5s;
    
    color: #98EC65;
}
.menu__link:visited{
    color: #fff;
}

.menu__burger__list {
    display: none;
}
.menu__burger {
    width: 40px;
    height: 25px;
    background-color: transparent;
    transition: 0.5s;

}
.menu__burger__color{
    transition: 0.5s;
}
.menu__burger:hover .menu__burger__color{
    stroke: #98EC65;
}
.menu__burger__piybeep {
    font-family: 'Arvo', serif;
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
    color: #DEDEDE;
}



@media screen and (max-width: 1755px) {
    .menu__link{
        margin: 0px 60px;
    }
    .menu{
        margin: 0px;
    }
}
@media screen and (max-width: 981px){
    .menu__link{
        margin: 0px 40px;
    }
}
@media screen  and (max-width: 926px){
    .menu__link{
        margin: 0px 30px;
    }
}
@media screen  and (max-width: 740px){
    .menu__link{
        margin: 0px 10px;
    }
}

@media screen  and (max-width: 580px){
    .menu__link{
        margin: 0px 5px;
    }
}
@media screen  and (max-width: 540px){
    .menu__info{
        display: none;
    }
    .menu{
        display: flex;
        flex-direction: row;

        width: 100%;

        padding: 0px 30px;
    }
    .menu__burger__list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        width: 100%;
    }
    .menu__burger__piybeep{
        width: 100%;

        padding-right: 30px;

        text-align: center;
    }
}

