.piybeep_content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    background-repeat: no-repeat;
}
.piybeep_bg{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    width: 1300px;
    height: 730px;
    background-image: url(../bgImage/piybeepLeftTop.svg), url(../bgImage/piybeepLeftBottom.svg), url(../bgImage/piybeepRightBittom.svg);
    background-repeat: no-repeat;
    background-position: left top, 53px bottom, right 473px;

    opacity: 0;
    animation-name: squareVisibility;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
}
.piybeep_info{
    display: flex;
    flex-direction: column;
    align-self: center;
}
.piybeep_content p{
    font-size: 18px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    line-height: 23.2px;
    color: #98EC65;
    font-family: 'Source Sans Pro', sans-serif;
    
    opacity: 0;
    animation-name: squareVisibility;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}
.piybeep_content h1{
    font-size: 144px;
    line-height: 144px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #DEDEDE;
    font-family: 'Arvo', serif;
    
    opacity: 0;
    animation-name: squareVisibility;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-duration: 4s;
    animation-delay: 1s;
}
.piybeep_content h1::after{
    content: '';
    display: inline-block;
    height: 9px;
    width: 9px;
    background-color: #98EC65;

    opacity: 0;
    animation-name: squareVisibility;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-delay: 2s;
}

@keyframes squareVisibility{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}