.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 350px;

    width: calc(100% - 140px);
}
.reviews__info{
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 288px;
}
.reviews__btn_left {
    width: 93px;
    height: 69px;

    background-color: transparent;
}
.reviews__leftButton__arrow{
    transition: 0.5s;
}
.reviews__btn_left:hover .reviews__leftButton__arrow{
    stroke: #98EC65;
}
.reviews__leftButton__border{
    transition: 0.5s;
}
.reviews__btn_left:hover .reviews__leftButton__border{
    fill: #98EC65;
}

.reviews__btn_right {
    width: 97px;
    height: 69px;

    background-color: transparent;
}
.reviews__rightButton__arrow{
    transition: 0.5s;
}
.reviews__btn_right:hover .reviews__rightButton__arrow{
    stroke: #98EC65;
}
.reviews__rightButton__border{
    transition: 0.5s;
}
.reviews__btn_right:hover .reviews__rightButton__border{
    fill: #98EC65;
}

.reviews__list {
    width: 100%;
    margin: 0px 148px;
}
.reviews__desc {
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
    font-size: 24px;
    line-height: 128.9%;
    color: #fff;

    width: 100%;
    max-width: 1160px;
}
.reviews__label {
    display: flex;
    flex-direction: column;

    margin-top: 20px;
    
    font-family: 'Source Code Pro', monospace;
    font-size: 24px;
    line-height: 30.94px;
    font-weight: 500;
    color: #fff;
}
.reviews__text {
    /* Тут ничего нет */
}

/* Это ещё тестится, скорей всего будет исправлено */
.reviews__add__review{
    margin-top: 100px;
    margin-bottom: 30px;

    padding: 10px 20px;

    background-color: #98EC65;

    border: 1px solid #98EC65;
    border-radius: 7px;

    font-family: 'Source Code Pro', monospace;
    color: #000;
    font-size: 24px;

    transition: 0.5s;
}
.reviews__add__review:hover{
    transition: 0.5s;
    border-radius: 50px;
}
.reviews__items{
    display: flex;
    align-items:flex-end;
    justify-content: space-between;

}
.reviews__comment{
    height: 27px;

    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    line-height: 23.2px;
    font-weight: 500;
    color: #fff;

}
.reviews__comment::after{
    content: '';
    display: block;
    position: relative;

    width: 152px;
    height: 1px;

    background-color: #98EC65;
}


@media screen and (max-width: 1300px){
    .reviews{
        width: calc(100% - 100px);
    }
    .reviews__list{
        margin: 0px 43px;
    }
    .reviews__desc{
        width: 668px;
        font-size: 16px;
        line-height: 20.62px;
    }
    .reviews__label{
        font-size: 18px;
        line-height: 23.2px;
    }
    .reviews__text{
        font-size: 18px;
        line-height: 23.2px;
    }
    .reviews__comment{
        font-size: 18px;
        line-height: 23.2px;
    }
}