.reviews {
    margin-top: 350px;
    height: 288px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.reviews__btn_left {
    width: 93px;
    height: 69px;
    background-color: transparent;
    background-image: url(../bgImage/reviewsArrowLeft.svg);
    background-repeat: no-repeat;
}
.reviews__btn_right {
    width: 97px;
    height: 69px;
    background-color: transparent;
    background-image: url(../bgImage/reviewsArrowRight.svg);
    background-repeat: no-repeat;
}
.reviews__list {
    margin: 0px 148px;
}
.reviews__desc {
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
    font-size: 24px;
    line-height: 128.9%;
    width: 1160px;
    color: #fff;
}
.reviews__desc::after{
    content: '';
    display: block;
    position: relative;
    bottom: -20px;
    width: 180px;
    height: 2px;
    background-color: #98EC65;
}
.reviews__label {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    font-family: 'Source Code Pro', monospace;
    font-size: 24px;
    line-height: 30.94px;
    font-weight: 500;
    color: #fff;
}
.reviews__text {
    /* Тут ничего нет */
}