.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 350px;
}
.reviews__info{
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 288px;
}
.reviews__btn_left {
    width: 93px;
    height: 69px;

    background-image: url(../bgImage/reviewsArrowLeft.svg);
    background-color: transparent;
    background-repeat: no-repeat;
}
.reviews__btn_right {
    width: 97px;
    height: 69px;

    background-image: url(../bgImage/reviewsArrowRight.svg);
    background-color: transparent;
    background-repeat: no-repeat;
}
.reviews__list {
    margin: 0px 148px;
}
.reviews__desc {
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
    font-size: 24px;
    line-height: 128.9%;
    color: #fff;

    width: 1160px;
}
.reviews__desc::after{
    content: '';
    display: block;
    position: relative;

    bottom: -20px;

    width: 180px;
    height: 2px;

    background-color: #98EC65;
}
.reviews__label {
    display: flex;
    flex-direction: column;

    margin-top: 40px;
    
    font-family: 'Source Code Pro', monospace;
    font-size: 24px;
    line-height: 30.94px;
    font-weight: 500;
    color: #fff;
}
.reviews__text {
    /* Тут ничего нет */
}

.reviews__add__review{
    margin-top: 100px;
    margin-bottom: 30px;

    padding: 10px 20px;

    background-color: #98EC65;

    border: 1px solid #98EC65;
    border-radius: 7px;

    font-family: 'Source Code Pro', monospace;
    color: #000;
    font-size: 24px;

    transition: 0.5s;
}
.reviews__add__review:hover{
    transition: 0.5s;
    border-radius: 50px;
}