* {
  scrollbar-width: thin;
  scrollbar-color: #16141a;;
}
*::-webkit-scrollbar {
  width: 20px;
  min-width: 20px;
  max-width: 10px;
  height: 5px;
}
*::-webkit-scrollbar-track {
  background: #070708;
}
*::-webkit-scrollbar-thumb {
  background-color: #000000;
  
  border-radius: 10px;
  border: 3px solid #1b1820;
}