.menu {
    /* position: sticky; */
    /* top: 0px; */
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 254px;
}
.menu__burger__width__450{
    display: none;

    background-color: transparent;
    
    width: 40px;
    height: 30px;
}
.menu__burger__List{
    background-color: transparent;
}
.menu__title{
    margin-top: 40px;

    font-family: 'Arvo', serif;
    font-size: 36.86px;
    line-height: 36.86px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #DEDEDE;

    margin-left: -56px;
}
.menu__title::after{
    content: '';
    display: inline-block;

    width: 2.3px;
    height: 2.3px;

    background-color: #98EC65;
}
.menu__info {
    margin-top: 80px;

    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    line-height: 23.2px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: 500;
}
.menu__link{
    color: #ECECEC;

    padding-bottom: 3px;
    
    margin: 0px 100px;
    
    border-bottom: 2px solid transparent;
    
    transition: 0.5s;
}
.menu__link__border
{
    border-bottom: 2px solid #98EC65;
}
.menu__link:visited{
    color: #fff;
}
.menu__link:hover{
    transition: 0.5s;
    
    color: #98EC65;
}
.header__burger__color{
    transition: 0.5s;
}
.menu__burger__width__450:hover .header__burger__color{
    stroke: #98EC65;
}

@media screen and (max-width: 1300px){
    .menu__link{
        margin: 0px 60px;
    }
}
@media screen and (max-width: 981px){
    .menu__link:first-child{
        margin-left: 0px;
    }
    .menu__link:last-child{
        margin-right: 0px;
    }
}
@media screen and (max-width: 945px){
    .menu__link{
        margin: 0px 31px;
    }
}
@media screen and (max-width: 725px){
    .menu__link{
        margin: 0px 10px;
    }
}
@media screen and (max-width: 580px){
    .menu__link{
        font-size: 14px;
    }
}

@media screen and (max-width: 520px){
    .menu__link{
        display: none;
    }
    .menu__burger__List{
        display: none;
    }
    .header__burger{
        display: unset;
        background-color: transparent;

        margin-left: 16px;
    }
    .menu__burger__width__450{
        display: unset;
    
        margin-left: 16px;
    }
    .menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    
        height: 123px;
    
        width: 100%;
    }
    .menu__title{
        font-size: 26px;
    
        width: 70%;
    
        text-align: center;
    }
}