.site_created_content {
    display: flex;
    flex-direction: column;
    margin-top: 128px;
    height: 1128px;
    align-items: center;
    background-image: url(../bgImage/created_siteLeftTop.svg), url(../bgImage/CreateSiteRightBottom.svg);
    background-repeat: no-repeat;
    background-position: left 200px, right bottom;
}
.site_create_info{
}
.site_content_text {
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
    font-size: 72px;
    line-height: 92.81px;
    width: 922px;
    color: #DCDCDC;
}
.site_content_block {
    background-image: url(../img/created_site\ 1.svg);
    width: 901px;
    height: 574px;
    margin-top: 202px;
}