.type_site_content {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(4, 111px);
    row-gap: 56px;
    margin-top: 350px;
    background-image: url(../bgImage/typeSiteLeftBottom.svg);
    background-repeat: no-repeat;
    background-position: left 450px;
}
.type_site_text{
}
.type_site_text h3{
    font-size: 72px;
    line-height: 92.81px;
    font-family: 'PT Mono', monospace;
    color: #DCDCDC;
}
.type_site_text p{
    font-size: 18px;
    line-height: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #797979;
}
.type_site_text h3::after{
    content: '';
    display: inline-block;
    margin-left: 74px;
    width: 226px;
    height: 15px;
    background-image: url(../bgImage/TypeSiteArrowRight.svg);
    background-repeat: no-repeat;
}

.lending{
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 1;
}
.web_app{
    grid-column-start: 2;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 2;
}
.online_store{
    grid-column-start: 3;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 3;
}
.corporate_website{
    grid-column-start: 4;
    grid-column-end: 11;
    grid-row-start: 4;
    grid-row-end: 4;
}