.type_site_content {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(4, 111px);
    row-gap: 56px;
    margin-top: 350px;
    background-image: url(../bgImage/typeSiteLeftBottom.svg);
    background-repeat: no-repeat;
    background-position: left 450px;
}
.type_site_info_text_arrow{
    display: flex;
}
.type_site_info_text_arrow img{
    margin-left: 74px;
}
.type_site_info_text_arrow_opacity{
    margin-left: 74px;
    animation-name: animationArrowGreen;
    animation-duration: 2s;
}
.animation_arrow_white{
    animation-name: animationArrowWhite;
    animation-duration: 2s;
}
.type_site_text{
}
.type_site_text :hover h3{
    transition: 0.5s;
    color: #98EC65;
}
.type_site_text h3{
    font-size: 72px;
    line-height: 92.81px;
    font-family: 'PT Mono', monospace;
    font-weight: 400;
    color: #DCDCDC;
}
.type_site_text p{
    font-size: 18px;
    line-height: 18px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    color: #797979;
}
.lending{
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 1;
}
.web_app{
    grid-column-start: 2;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 2;
}
.online_store{
    grid-column-start: 3;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 3;
}
.corporate_website{
    grid-column-start: 4;
    grid-column-end: 11;
    grid-row-start: 4;
    grid-row-end: 4;
}

@keyframes animationArrowGreen {
    0% {
        opacity: 0;
    }
    50%{
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
      opacity: 1;
    }
}

@keyframes animationArrowWhite {
    0% {
        opacity: 1;
    }
    50%{
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
      opacity: 1;
    }
}