.step{
    margin: 0 auto;
    margin-top: 135px;
    margin-bottom: 135px;

    font-size: 55px;
    color: #fff;
}
.step:visited{
    color: #fff;
}


.steps {
    display: flex;
    flex-direction: column;

    margin-top: 360px;

    width: 100%;
    padding: 0px 15px;
    
    overflow-x: scroll;
    
    background-color: #100f13;
}
.steps__title {
    font-family: 'Source Code Pro', monospace;
    font-size: 36px;
    line-height: 46.4px;
    letter-spacing: 0.2em;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}
.steps_list {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 69px;
    column-gap: 182px;
    
    margin-top: 63px;

    width: 7037px;

    background-image: url(../../bgImage/stepsBottomStart.svg), 
    url(../../bgImage/stepsTop.svg), url(../../bgImage/stepsTop.svg), url(../../bgImage/stepsTop.svg),
    url(../../bgImage/stepsBottom.svg), url(../../bgImage/stepsBottom.svg), url(../../bgImage/stepsVector.svg);
    background-repeat: no-repeat;
    background-position: 320px 430px, 
    1100px 100px, 2735px 100px, 4355px 100px,
    1920px 380px, 3510px 380px,
    5300px 360px;
}
.steps_item{
    width: 629px;
    height: 340px;
}
.steps__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.steps__wrapper__label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 144px;
    color: #fff;

    opacity: 0.1;
}
.steps__wrapper__text {
    align-self: center;

    margin-left: 48px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.94px;
    letter-spacing: 4px;
    color: #98EC65;
    text-transform: uppercase;
}
.steps__wrapper__text::before{
    content: '';
    display: block;
    position: relative;

    bottom: -10px;
    left: -105px;

    width: 72px;
    height: 2px;

    background-color: #98EC65;
}
.steps__inner {
    display: flex;
    flex-direction: column;

    margin-left: 77px;
}
.steps__inner__label {
    font-family: 'Source Code Pro', monospace;
    font-size: 48px;
    line-height: 60.34px;
    font-weight: 500;
    color: #fff;

}
.steps__inner__text {
    margin-top: 20px;

    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    line-height: 23.2px;
    letter-spacing: 0.05em;
    color: #fff;
}
.step__project{
    grid-row-start: 1;
    grid-row-end: 1;

    grid-column-start: 1;
    grid-column-end: 1;
}
.steps__analis{
    grid-row-start: 2;
    grid-row-end: 2;

    grid-column-start: 2;
    grid-column-end: 2;
}
.step__design{
    grid-row-start: 2;
    grid-row-end: 1;

    grid-column-start: 3;
    grid-column-end: 3;
}
.step__adaptive{
    grid-row-start: 2;
    grid-row-end: 2;

    grid-column-start: 4;
    grid-column-end: 4;
}
.step__code{
    grid-row-start: 1;
    grid-row-end: 1;

    grid-column-start: 5;
    grid-column-end: 5;
}
.step__test{
    grid-row-start: 2;
    grid-row-end: 2;

    grid-column-start: 6;
    grid-column-end: 6;
}
.step__finish{
    grid-row-start: 1;
    grid-row-end: 1;

    grid-column-start: 7;
    grid-column-end: 7;
}
.steps__ready{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    grid-row-start: 1;
    grid-row-end: 3;
    
    grid-column-start: 8;
    grid-column-end: 10;
    
    margin-left: 89px;
    
    font-family: 'PT Mono', monospace;
    font-size: 64px;
    line-height: 82.5px;
    color: #98EC65;
}


@media screen and (max-width: 1500px){
    .steps{
        margin-top: 278px;
    }
}
@media screen and (max-width: 1000px){
    .steps_item{
        width: 100%;
        max-width: 590px;
    }
    .steps{
        margin-top: 135px;
        overflow: hidden;
    }
    .steps__inner{
        margin-left: 35px;
    }
    .steps__wrapper__label{
        font-size: 96px;
    }
    .steps__wrapper__text{
        font-size: 18px;
    }
    .steps__inner__label{
        font-size: 36px;
    }
    .steps__inner__text{
        font-size: 18px;
    }
    .steps_list{
        display: flex;
        flex-direction: column;

        width: 100%;

        background-image: 
        url(../../bgImage/stepsLeft1000.svg), url(../../bgImage/stepsRight1000.svg), 
        url(../../bgImage/stepsLeft1000.svg), url(../../bgImage/stepsRight1000.svg),
        url(../../bgImage/stepsRight1000.svg), url(../../bgImage/stepsLeft1000.svg);
        background-position: 
        left 450px, right 30px,
        left 1270px, right 850px,
        right 1660px, left 2090px;
    }

    .step__project{
        align-self: flex-start;
    }
    .steps__analis{
        align-self: flex-end;
    }

    .step__design{
        align-self: flex-start;
    }
    .step__adaptive{
        align-self: flex-end;
    }

    .step__code{
        align-self: flex-start;
    }
    .step__test{
        align-self: flex-end;
    }

    .step__finish{
        align-self: flex-start;
    }
    .steps__ready{
        align-self: center;

        margin-top: 260px;
    }
}
@media screen and (max-width: 950px){
    .steps{
        margin-top: 165px;
    }
    .steps_list{
        background-image: 
        url(../../bgImage/stepsLeft768.svg), url(../../bgImage/stepsRight768.svg), 
        url(../../bgImage/stepsLeft768.svg), url(../../bgImage/stepsRight768.svg),
        url(../../bgImage/stepsRight768.svg), url(../../bgImage/stepsLeft768.svg)
    }
}

@media screen and (max-width: 820px){
    .steps{
        margin-top: 165px;
    }
    .steps_item{
        max-width: 430px
    }
}
@media screen and (max-width: 666px){
    .steps_item{
        max-width: 350px;
        height: auto;
    }
    .steps__wrapper__text{
        font-size: 14px;
    }
    .steps__inner__label{
        font-size: 24px;
        line-height: 30.17px;
    }
    .steps__inner__text{
        font-size: 14px;
        line-height: 18.05px;
    }
    .steps_list{
        background-image: 
        url(../../bgImage/stepsLeft620.svg), url(../../bgImage/stepsRight620.svg),
        url(../../bgImage/stepsLeft620.svg), url(../../bgImage/stepsRight620.svg),
        url(../../bgImage/stepsLeft620.svg), url(../../bgImage/stepsRight620.svg);
        background-position-x: left, right;
        background-position-y: 290px, 625px, 970px, 1310px, 1610px, 1910px;

        row-gap: 120px;
    }
}
@media screen and (max-width: 500px){
    .steps{
        margin-top: 116px;
    }
    .steps__wrapper__right{
        justify-content: right;
    }
    .steps__wrapper__text{
        margin-left: 0px;
    }
    .steps__text__right{
        text-align: right;
    }
    .steps__order__number{
        order: 2;
    }
    .steps__order__text{
        order: 1;
    }
    .steps__order__text::before{
        display: none;
    }
    .steps__order__text::after{
        content: '';
        display: block;
        position: relative;

        bottom: 14px;
        left: 130px;

        width: 72px;
        height: 2px;

        background-color: #98EC65;
    }
}
@media screen and (max-width: 360px){
    .steps{
        margin-top: 116px;
    }
}
@media screen and (max-width: 330px){
    .steps_list{
        background-position-y: 290px, 655px, 1010px, 1350px, 1690px, 1970px;
    }
}
@media screen and (max-width: 324px){
    .steps_list{
        background-position-y: 290px, 655px, 1010px, 1350px, 1690px, 2050px;
    }
}