.our_project {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 98px;
}
.our_project__title {
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    font-size: 72px;
    line-height: 92.81px;
    color: #DCDCDC;
}
.our_project__title::after{
    content: '';
    display: inline-block;

    margin-left: 24px;
    
    width: 9px;
    height: 9px;
    
    background-color: #98EC65;
}
.our_project__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    width: calc(100% - 16px);

    gap: 40px;

    margin-top: 150px;
    /* margin-bottom: 200px; */
}
.our_project__item {
    cursor: pointer;

    width: 100%;
    max-width: 800px;
    height: 100%;
}
.our_project__wrapper_img {
    width: 100%;
    height: 100%;

    
    overflow: hidden;
    
    border-radius: 8px;
}
.our_project__wrapper_img_your{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 500px;
    background-color: #fff;

    border-radius: 8px;
}
.our_project__wrapper_img_your_svg{
    width: 100%;
    height: 100%;
}
.our_project__img {
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 500px;

    transition: 0.5s;
}
.our_project__img:hover{
    transform: scale(1.07);
    transition: 0.5s;
}
.our_project__label {
    margin-top: 20px;

    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    line-height: 23.2px;
    font-weight: 700;
    color: #fff;
}
.our_project__text {
    margin-top: 5px;

    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    font-size: 18px;
    line-height: 23.2px;
    color: #fff;
}

.our_project__label__your{
    margin-top: 20px;

    font-family: 'Source Code Pro', monospace;
    font-size: 24px;
    line-height: 30.94px;
    font-weight: 700;
    color: #fff;
}
.our_project__text__your{
    margin-top: 5px;
    
    font-family: 'Source Code Pro', monospace;
    font-size: 24px;
    line-height: 30.94px;
    font-weight: 400;
    color: #fff;
}

@media screen and (max-width: 1700px){
    .our_project__item{
        flex-basis: 600px;
    }
    .our_project__wrapper_img_your{
        height: 380px;
    }
}
@media screen and (max-width: 1257px){
    .our_project__item{
        flex-basis: 500px;
    }
    .our_project__wrapper_img_your{
        height: 315px;
    }
}
@media screen and (max-width: 1057px){
    .our_project__title{
        font-size: 48px;
    }
    .our_project__list{
        margin-top: 135px;
    }
    .our_project__item{
        flex-basis: 400px;
    }
    .our_project__wrapper_img_your{
        height: 253px;
    }
}
@media screen and (max-width: 857px){
    .our_project__label{
        font-size: 18px;
    }
    .our_project__item{
        flex-basis: 300px;
    }
    .our_project__wrapper_img_your{
        height: 190px;
    }
}
@media screen and (max-width: 658px){
    .our_project__label{
        font-size: 16px;
    }
    .our_project__text{
        font-size: 14px;
    }
    .our_project__item{
        flex-basis: 200px;
    }
    .our_project__wrapper_img_your{
        height: 125px;
    }
}
@media screen and (max-width: 457px){
    .our_project__list{
        margin-top: 48px;
    }
    .our_project__title{
        font-size: 24px;
    }
    .our_project__item{
        flex-basis: auto;
    }
    .our_project__wrapper_img_your{
        height: 300px;
    }
}
@media screen and (max-width: 350px){
    .our_project__text{
        font-size: 14px;
    }
}