.our_project {
    margin-top: 300px;
    display: flex;
    flex-direction: column;

    padding: 0px 85px;
}
.title {
    margin: 0px;

    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
    font-size: 36px;
    line-height: 46.4px;
    letter-spacing: 0.2em;
    color: #DCDCDC;
    text-transform: uppercase;
    position: relative;
}
.title::after{
    content: '';
    display: inline-block;
    margin-left: 24px;
    width: 9px;
    height: 9px;
    background-color: #98EC65;
}
.title::before{
    content: '';
    display: block;
    position: absolute;
    bottom: -15px;
    width: 69px;
    height: 1px;
    border: 1px solid #fff;
}
.our_project__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
    
    margin-top: 80px;
    margin-bottom: 80px;

    height: 100%;
}
.our_project__item {
    text-decoration: none;
    cursor: pointer;
}
.our_project__wrapper_img {
    width: 800;
    height: 1200;

    overflow: hidden;

    border-radius: 8px;

}
.our_project__img {
    transition: 0.5s;

    width: 100%;
    height: 100%;
}
.our_project__img:hover{
    transform: scale(1.07);
    transition: 0.5s;
}
.our_project__label {
    margin: 0px;
    margin-top: 20px;

    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    line-height: 23.2px;
    font-weight: 700;
    color: #fff;
}
.our_project__text {
    margin: 0px;
    margin-top: 5px;

    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    font-size: 18px;
    line-height: 23.2px;
    color: #fff;
}
.our_project__button{
    margin: 0px;

    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Source Code Pro', monospace;
    font-size: 21px;
    line-height: 27.07px;
    font-weight: 500;
    color: #fff;
    transition: 0.5s;
}
.our_project__button:hover{
    color: #98EC65;
}
.our_project__arrow__margin{
    margin-left: 20px;
}
.our_project__arrow__color{
    transition: 0.5s;
}
.our_project__button:hover .our_project__arrow__color{
    fill: #98EC65;
}
@media screen and (max-width: 1000px){
    .our_project__title{
        display: none;
    }
}
@media screen and (max-width: 736px){
    .our_project{
        padding: 0px 24px;
    }
    .our_project__list{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}
@media screen and (max-width: 360px){
    .our_project__label{
        font-size: 16px;
    }
    .our_project__text{
        font-size: 14px;
    }
}