.social {
    display: flex;
    flex-direction: column;
    
    margin-top: 300px;
    margin-bottom: 200px;
}
.social__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 64px;
}
.social__img{
    cursor: pointer;

    width: 250px;
    height: 250px;
    
    transition: 0.5s;
}
.social__img:hover{
    transform: scale(1.5);
    transition: 0.5s;
}