.piybeep {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: 106px;

    height: 379px;

    width: 100%;
    max-width: 1800px;
    
    background-image: url(../../bgImage/studioPiybeepLeftBottom.svg), url(../../bgImage/studioPiybeepRightTop.svg);
    background-repeat: no-repeat;
    background-position: left bottom, 1570px top;

    padding: 0px 15px;
}
.piybeep__list {
    display: flex;
    justify-content: space-between;

    width: 100%;
    max-width: 1640px;

    margin-top: 50px;
    
    background-image: url(../../bgImage/studioPiybeepCenter.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.piybeep__item {
    display: flex;
    flex-direction: column;
    align-self: center;
}
.piybeep__text{
    margin-left: 10px;

    font-family: 'Source Code Pro', monospace;
    font-size: 15px;
    line-height: 19.34px;
    font-weight: 400;
    letter-spacing: 0.2em;
    color: #98EC65;
    text-transform: uppercase;
}
.piybeep__title{
    font-family: 'Arvo', serif;
    font-size: 120px;
    letter-spacing: 100%;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 400;
    color: #DEDEDE;
}
.piybeep__title::after{
    content: '';
    display: inline-block;

    width: 9px;
    height: 9px;

    background-color: #98EC65;
}
.piybeep__desc{
    font-family: 'Source Code Pro', monospace;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0.1em;
    color: #DEDEDE;
    
    width: 100%;
    max-width: 560px;
}

@media screen and (max-width: 1350px){
    .piybeep{
        background-position: left bottom, right top;
    }
    .piybeep__list{
        flex-direction: column;

        gap: 100px;

        background-position: center 60%;
    }
}
@media screen and (max-width: 1500px){
    .piybeep{
        background-image: none;

        margin-top: 0px;

        height: auto;
    }
}

@media screen and (max-width: 627px){
    .piybeep__item:first-child{
        display: none;
    }
    .piybeep__list{
        background-image: none;
    }
}

@media screen and (max-width: 585px){
    .piybeep__desc{
        font-size: 24px;
        line-height: 24px;
        
        text-align: center;
    }
    .piybeep__desc::after{
        display: inline-block;
        content: '';

        width: 6px;
        height: 6px;
        background-color: #98EC65;
        border-radius: 50%;
    }
}
@media screen and (max-width: 477px){
    .piybeep__desc{
        font-size: 18px;
        line-height: 18px;
    }
}