.team {
    margin-top: 300px;

    padding: 0px 30px;
}
.team__label{
    margin: 0px;

    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
    font-size: 36px;
    line-height: 46.4px;
    letter-spacing: 0.2em;
    color: #DCDCDC;
    text-transform: uppercase;
    position: relative;
}
.team__label::before{
    content: '';
    display: block;
    position: absolute;
    bottom: -15px;
    width: 69px;
    height: 1px;
    border: 1px solid #fff;
}
.team__label::after{
    content: '';
    display: inline-block;
    margin-left: 24px;
    width: 9px;
    height: 9px;
    background-color: #98EC65;
}
.team__list {
    margin-top: 100px;

    max-width: 1640px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    gap: 59px;
}
.team__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 450px;
    width: 324px;

    height: auto;
}


.team__photo{
    margin-bottom: 24px;

    border-radius: 50%;

    width: 100%;
    max-width: 324px;
}
.team__name {
    margin: 0px;

    font-family: 'Source Code Pro', monospace;
    font-size: 24px;
    line-height: 30.17px;
    font-weight: 400;
    color: #fff;
}
.team__desc {
    margin: 0px;
    margin-top: 15px;

    font-family: 'Source Code Pro', monospace;
    font-size: 24px;
    line-height: 30.17px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;

    border-top: 1px solid #98EC65;
    border-bottom: 1px solid #98EC65;
    
    padding: 1px 0px;
    
    margin-bottom: 32px;
}

@media screen and (max-width: 1556px){
    .team__item{
        width: 250px;
    }
}

@media screen and (max-width: 1174px){
    .team__label{
        font-size: 24px;
    }
    .team__label::after{
        width: 6px;
        height: 6px;
    }
}
@media screen and (max-width: 1100px){
    .team__item{
        width: 230px;
    }
}
@media screen and (max-width: 890px){
    .team__item{
        width: 180px;
    }
}
@media screen and (max-width: 800px){
    .team__item{
        width: 150px;
    }
    .team__name{
        font-size: 16px;
    }
    .team__desc{
        font-size: 16px;
    }
}
@media screen and (max-width: 650px){
    .team__item{
        width: 150px;
    }
}
@media screen and (max-width: 430px){
    .team__label{
        font-size: 18px;
    }
}